
/* Маденький экран */
@media screen and (max-width: 650px)
{
    //Размер блока в footer на всю ширину
    .blocks_3 {
        display: block;
        width: 100%;
    }

    //Выравниваем контент блоков в footer
    .marginLeft, .marginFlex, .contentAlignRight, .footerBigLabel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        
    }

    #aboutUsText{
       margin-left: 5%;
    }

    .elem1, .elem2{
        width: 90%;
        margin-left: 7%;
    }
}

/* Средний экран */
@media screen and (min-width: 650px) and (max-width: 900px){
    .marginFlex
    {
        margin-left: 40px;
    }

    .marginLeft{
        margin-left: 20px;
    }
}    

/*Большой экран */
@media screen and (min-width: 1100px){
    .conteiner{
        margin-left: 12%;
    }    
} 
