
/* Маденький экран: одна картинка по горизонтали */
@media screen and (max-width: 600px)
{
    .td{
        padding-left: 40px; 
    }

    .img {
        width: 99%;
    }
}

/* Средний экран: две картинки по горизонтали */
@media screen and (min-width: 600px) and (max-width: 900px){
    .img{
        width: 49%;
    }
}    

/*Большой экран: три картинки по горизонталии*/
@media screen and (min-width: 900px){
    .img{
        width: 32%;
    }
} 