@import "variables";
@import "mixins";
@import "classes";

body {
    margin: 0; 
    box-sizing: border-box;
    @include userSelectNone;
}  

i{
    padding-right: 10px;
    float: left;
    height: 60px;
}

#slide1, #slide2, #slide3, #slide4, #slide5{
    height: $slideHeight;
    width: 100%;
    height: $slideHeight;
    min-height: fit-content;
    min-width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
} 

// Чтобы шапка не съезжала (ибо header находится на slide1 и padding его сдвинет)
#slide2, #slide3, #slide4, #slide5, #slide6{
    padding: 15px;
} 

header {
    @include text($yellow, "Chewy", 1.9em, normal, center);
    background-color: black;
    padding: 10px;
    overflow: hidden;
    display: none;
}

#slide1{
    background-color: $yellow;

    h1 {
        margin-top: 30vh;
        margin-bottom: 0;
        @include text(black, Chewy, 54px, normal, center);
        display: none;
    }

    h3 {
         @include text(black, Roboto, 24px, normal, center);
        padding: 5px; 
    }
}

#slide2{
    background-color: black;

    h2 { @include text($yellow, Roboto, 32px, normal, center) }

    div { @include text($yellow, Roboto, 24px, normal, left) }  
}
  
#slide3{
    background-color: $yellow;
   
    h2 { @include text(black, Roboto, 32px, normal, center) }

    div { @include text(black, Roboto, 24px, normal, left) }  
}

#slide4{
    background-color: black;
    
    @include text($yellow, Roboto, 24px, normal, left);
   
    h2 { @include text($yellow, Roboto, 32px, normal, center) }

    img {
        display: block;
        width: 300px;
        height: 300px;
        margin: 20px;
    } 
}

#slide5{
    background-color: $yellow;
    h2 { @include text(black, Roboto, 32px, normal, center) }

    #feedbackBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
}

#slide6{
    background-color: black;
    display: flex;
    flex-direction: column;
    
    @include text($yellow, Chewy, 20px, normal, left);
    
    div{
        margin-bottom: 25px;
        margin-top: 20px;
    }

    & > div{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #aboutUsText { font-size: 18px }

    #iconDiv
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #copyrightBlock { align-self: center }

    i{
        height: 50px;
    }

    //Чтобы copyright был не так далеко
    i:last-child{
        height: 10px;
    }
}

@import "media";
