@charset "UTF-8";
.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.centre {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 50px; }

.btn {
  outline: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.blackBtn {
  color: yellow;
  border-color: yellow; }

.blackBtn:hover {
  color: #212529;
  background-color: yellow;
  border-color: yellow; }

.orangeBtn {
  color: black;
  border-color: black;
  margin-top: 10px;
  font-size: 1.2rem; }

.orangeBtn:hover {
  color: yellow;
  border-color: black;
  background-color: black; }

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 50px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 50px;
  border-bottom-width: 60px;
  border-bottom-style: solid;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms; }

.Yellow {
  height: 60px;
  background-color: yellow; }
  .Yellow div {
    border-bottom-color: black; }

.Black {
  height: 60px;
  background-color: black; }
  .Black div {
    border-bottom-color: yellow; }

.left {
  float: left; }

.right {
  float: right; }

.td {
  padding: 25px;
  padding-left: 100px;
  width: 450px;
  vertical-align: top; }

.img {
  display: inline-block;
  padding-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto; }

.imageBlock {
  margin-bottom: 20px;
  margin-top: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto; }

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

table {
  width: 100%; }

header ~ table {
  width: 100%;
  margin-top: 60px; }

h2 {
  margin-top: 0px;
  padding-top: 50px; }

i {
  padding-right: 10px; }

#slide1, #slide2, #slide3, #slide4, #slide5 {
  height: 110vh;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: block; }

header {
  color: yellow;
  font-family: "Chewy";
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  background-color: black;
  padding: 0.2em; }

#slide1 {
  background-color: yellow; }
  #slide1 h1 {
    margin-top: 30vh;
    margin-bottom: 0;
    color: black;
    font-family: Chewy;
    font-size: 56px;
    font-weight: normal;
    text-align: center; }
  #slide1 h3 {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: center; }

#slide2 {
  background-color: black; }
  #slide2 h2 {
    color: yellow;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide2 table {
    color: yellow;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: left; }

#slide3 {
  background-color: yellow; }
  #slide3 h2 {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide3 table {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: left; }

#slide4 {
  background-color: black;
  color: yellow;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  text-align: left; }
  #slide4 h2 {
    color: yellow;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide4 img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: block; }

#slide5 {
  background-color: yellow; }
  #slide5 h2 {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }

#slide6 {
  background-color: black;
  height: 40vh;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: block; }

/* Маденький экран: одна картинка по горизонтали */
@media screen and (max-width: 600px) {
  .td {
    padding-left: 40px; }
  .img {
    width: 99%; } }

/* Средний экран: две картинки по горизонтали */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .img {
    width: 49%; } }

/*Большой экран: три картинки по горизонталии*/
@media screen and (min-width: 900px) {
  .img {
    width: 32%; } }
