@charset "UTF-8";
.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.alignCentre {
  text-align: center; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.centre {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 50px; }

.btn {
  outline: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.blackBtn {
  color: yellow;
  border-color: yellow; }

.blackBtn:hover {
  color: #212529;
  background-color: yellow;
  border-color: yellow; }

.orangeBtn {
  color: black;
  border-color: black;
  margin-top: 10px;
  font-size: 1.2rem; }

.orangeBtn:hover {
  color: yellow;
  border-color: black;
  background-color: black; }

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 50px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 50px;
  border-bottom-width: 60px;
  border-bottom-style: solid;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms; }

.YellowTriangles {
  height: 60px;
  background-color: yellow; }
  .YellowTriangles div {
    border-bottom-color: black; }

.BlackTriangles {
  height: 60px;
  background-color: black; }
  .BlackTriangles div {
    border-bottom-color: yellow; }

.imageBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* 
    Footer
*/
.logofooter {
  font-size: 32px;
  padding-bottom: 10px; }

.blocks_3 {
  width: 33.3%;
  float: left; }

.marginLeft {
  margin-left: 50px; }

.contentAlignRight {
  margin-right: 50px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.contentAlignRight > i {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.footerBigLabel {
  font-size: 32px; }

.elem1, .elem2 {
  float: left;
  width: 45%;
  margin-top: 30px;
  margin-left: 5%;
  height: 70px; }

.conteiner {
  margin-left: 9%; }

body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

i {
  padding-right: 10px;
  float: left;
  height: 60px; }

#slide1, #slide3, #slide5, #slide2, #slide4 {
  min-width: 100%;
  min-height: 110vh;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#slide2, #slide3, #slide4, #slide5, #slide6 {
  padding: 15px; }

header {
  color: yellow;
  font-family: "Chewy";
  font-size: 1.9em;
  font-weight: normal;
  text-align: center;
  background-color: black;
  padding: 10px;
  overflow: hidden;
  display: none; }

#slide1 {
  background-color: yellow; }
  #slide1 h1 {
    margin-top: 30vh;
    margin-bottom: 0;
    color: black;
    font-family: Chewy;
    font-size: 54px;
    font-weight: normal;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #slide1 h1 span {
      display: none; }
  #slide1 h3 {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    display: none; }
  #slide1 #startButton {
    opacity: 0; }

#slide2 {
  background-color: black; }
  #slide2 h2 {
    color: yellow;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide2 div {
    color: yellow;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: left; }

#slide3 {
  background-color: yellow; }
  #slide3 h2 {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide3 div {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    text-align: left; }

#slide4 {
  background-color: black;
  color: yellow;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  text-align: left; }
  #slide4 h2 {
    color: yellow;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide4 img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 20px; }

#slide5 {
  background-color: yellow; }
  #slide5 h2 {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    text-align: center; }
  #slide5 #feedbackBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

#slide6 {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: yellow;
  font-family: Chewy;
  font-size: 20px;
  font-weight: normal;
  text-align: left; }
  #slide6 div {
    margin-bottom: 25px;
    margin-top: 20px; }
  #slide6 > div {
    margin-bottom: 0px;
    margin-top: 0px; }
  #slide6 #aboutUsText {
    font-size: 18px; }
  #slide6 #iconDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #slide6 #copyrightBlock {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  #slide6 i {
    height: 50px; }
  #slide6 i:last-child {
    height: 10px; }
  #slide6 #iconDiv i {
    padding: 0; }

/* Маденький экран */
@media screen and (max-width: 650px) {
  .blocks_3 {
    display: block;
    width: 100%; }
  .marginLeft, .marginFlex, .contentAlignRight, .footerBigLabel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  #aboutUsText {
    margin-left: 5%; }
  .elem1, .elem2 {
    width: 90%;
    margin-left: 7%; } }

/* Средний экран */
@media screen and (min-width: 650px) and (max-width: 900px) {
  .marginFlex {
    margin-left: 40px; }
  .marginLeft {
    margin-left: 20px; } }

/*Большой экран */
@media screen and (min-width: 1100px) {
  .conteiner {
    margin-left: 12%; } }
